---
import { getCollection } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import TopLayout from '@layouts/TopLayout.astro';
import BottomLayout from '@layouts/BottomLayout.astro';
import { WORK } from '@consts';
import { Image } from 'astro:assets';
import nabrika from '../../assets/images/nabrika.jfif';
import iranpal from '../../assets/images/iranpal.jpg';
import omega from '../../assets/images/omega.jfif';
import { cn } from '@lib/utils';
const collection = await getCollection('work');

collection.sort(
  (a, b) =>
    new Date(b.data.dateStart).getTime() - new Date(a.data.dateStart).getTime()
);

const companyLogos: Record<
  'Nabrika' | 'Omega Do. IT Solutions e.U.' | 'IranPal',
  ImageMetadata | string
> = {
  Nabrika: nabrika,
  'Omega Do. IT Solutions e.U.': omega,
  IranPal: iranpal
};

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

function formatWorkDate(input: Date | string) {
  if (typeof input === 'string') return input;

  const month = input.toLocaleDateString('en-US', {
    month: 'short'
  });

  const year = new Date(input).getFullYear();
  return `${month} ${year}`;
}
---

<PageLayout
  title={WORK.TITLE}
  description={WORK.DESCRIPTION}>
  <TopLayout>
    <div class='animate page-heading'>
      {WORK.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <ul class='relative'>
      {
        work.map((entry, i) => (
          <li class='animate border-b border-black/10 relative dark:border-white/25 mt-4 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none'>
            <div
              class={cn(
                'animate h-full w-[2px] bg-white/70 absolute top-20 -left-[3.2rem] after:w-4 after:h-4 after:bg-white after:rounded-full after:absolute after:-top-0 after:-right-[0.4rem]',
                i === 0 && 'top-10',
                i === 2 && 'h-[30rem]'
              )}
            />
            <div class='text-sm uppercase mb-4 flex items-center gap-x-2'>
              <Image
                src={companyLogos[entry.data.company]}
                alt={entry.data.company}
                width='60'
                height='60'
                class='rounded-full absolute -left-20'
              />
              {formatWorkDate(entry.data.dateStart)} -{' '}
              {formatWorkDate(entry.data.dateEnd)}
            </div>
            <div class='text-black dark:text-white font-semibold'>
              {entry.data.company}
            </div>
            <div class='text-sm font-semibold'>{entry.data.role}</div>
            <article class='prose dark:prose-invert'>
              <entry.Content />
            </article>
          </li>
        ))
      }
    </ul>
  </BottomLayout>
</PageLayout>
